out
node_modules
package
leafWorkspace
leaf-workspace.json
leaf-data
.vscode-test/
*.vsix
output/

# VSCode
/.vscode/*
!/.vscode/settings.json

# Python support
/venv
*.pyc
__pycache__

# leaf packages artifacts
leaf/out/*
